/* =========================
   MOBILE
========================= */

@media (max-width:768px){

    .editor-box{
        padding:
            calc(env(safe-area-inset-top) + 18px)
            18px
            calc(env(safe-area-inset-bottom) + 30px);
    }

    #postInput{

        min-height:220px;

        font-size:18px;
    }

    .upload-btn{

        padding:14px;

        border-radius:18px;
    }

}
